* {
    padding: 0;
    margin: 0;
}


.nav {
    height: 8vh;
    box-shadow: 0 0 10px black;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.left {
    /* border: 2px solid crimson; */
    width: 35%;
    display: flex;
    justify-content: center;
}

.left>p {
    display: flex;
    align-items: center;
    font-size: 5rem;
    margin-top: 5px;


}

.right {
    margin-left: 7rem;
    width: 40%;
    display: flex;
    justify-content: center;
    justify-content: space-around;

}

.right>a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
}

.right>a:hover {
    border-bottom: 4px solid rgb(239, 9, 55);
}

.section1 {
    height: 92vh;
    display: flex;
    background: rgb(2, 0, 36);
    background: linear-gradient(27deg, rgba(2, 0, 36, 1) 0%, rgba(38, 110, 138, 1) 46%, rgba(0, 212, 255, 1) 100%);
}

.container {
    width: 100%;
    height: 90vh;
    /* border: 2PX solid black; */
    display: flex;
    flex-direction: column;
}

#rightcont {
    display: flex;
    justify-content: center;
    align-items: center;

}

#rightcont>h1 {
    /* border: 2px solid black; */
    font-size: 4rem;
    margin: 3rem 8rem 10rem 4rem;
}

#leftcont {
    display: flex;
    justify-content: center;
    /* margin-top: -8rem; */
    /* justify-content: center;
    align-items: center; */
}

.leftParagraph {
    font-size: 1.5rem;
    /* border: 2px solid black; */
    margin: -6rem 4rem 3rem 4rem;
}

.leftButton {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}

#leftButton>a {
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

#leftButton {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: black;
    z-index: 1;
}

#leftButton:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

#leftButton:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

#leftButton:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
}

#leftButton:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#leftButton:hover:after {
    top: -45%;
    background-color: #234f7b;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


svg {
    position: absolute;
    top: 0;
    left: 0;
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ */
/* this is the start of the About */


.about1 {
    height: 92vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(27deg, rgba(2, 0, 36, 1) 0%, rgba(38, 110, 138, 1) 46%, rgba(0, 212, 255, 1) 100%);
}















/* this is the start of a new page */
.carousel {
    height: 92vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(27deg, rgba(2, 0, 36, 1) 0%, rgba(38, 110, 138, 1) 46%, rgba(0, 212, 255, 1) 100%);
}








/* this is the start of a new page */
.sources1 {
    height: 92vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(27deg, rgba(2, 0, 36, 1) 0%, rgba(38, 110, 138, 1) 46%, rgba(0, 212, 255, 1) 100%);
}
